@model IEnumerable<Final.Models.Purchase>

@{
    ViewData["Title"] = "Compras";
}

<h1>Compras</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.buyer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.buyer.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.products)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.purchaseId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.purchaseId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script type="text/javascript">

        function openSuccessModal(strMessage) {
        var myDiv = document.getElementById('MyModalSuccessAlertBody');

        myDiv.innerHTML = strMessage;
        $('#myModalSuccess').modal('show');
        }

        function openErrorModal(strMessage) {
            var myDiv2 = document.getElementById('MyModalErrorAlertBody');

            myDiv2.innerHTML = strMessage;
            $('#myModalError').modal('show');
        }

        $(document).ready(function () {
            var msgSuccess = "@TempData["SuccessMessage"]";
            var msgError = "@TempData["ErrorMessage"]";

            if (msgSuccess) {
                openSuccessModal(msgSuccess);
            } else if (msgError) {
                openErrorModal(msgError);
            }
         })

    </script>
}
