@model IEnumerable<Final.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ammount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ammount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category.name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.productId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.productId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.productId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script type="text/javascript">

        function openSuccessModal(strMessage) {
        var myDiv = document.getElementById('MyModalSuccessAlertBody');

        myDiv.innerHTML = strMessage;
        $('#myModalSuccess').modal('show');
        }

        function openErrorModal(strMessage) {
            var myDiv2 = document.getElementById('MyModalErrorAlertBody');

            myDiv2.innerHTML = strMessage;
            $('#myModalError').modal('show');
        }

        $(document).ready(function () {
            var msgSuccess = "@TempData["SuccessMessage"]";
            var msgError = "@TempData["ErrorMessage"]";

            if (msgSuccess) {
                openSuccessModal(msgSuccess);
            } else if (msgError) {
                openErrorModal(msgError);
            }
         })

    </script>
}
